$none: transparent;                     //全透明色

$main: #051c24;                         //主题色-遂蓝

$sub: #b4967a;                          //辅助色-锡金

$light: #fff;                           //纯白

$dark: #111;                            //纯黑

$dgray: #373737;                        //深灰

$mgray: #a7a7a7;                        //中灰

$lgray: #eee;                           //浅灰

$blue: #4085f3;                         //湛蓝

$red: #ec4334;                          //玫红

$green: #02b9a1;                        //青绿

$yellow: #fdba00;                       //橙黄

$neutral: rgba(130,130,130,.15);        //中性色

//生成色彩（文字、填充、描边）类
@mixin auto_gen_color_class {
    $colors: (none $none), (sub $sub), (main $main), (light $light), (dark $dark), (dgray $dgray), (mgray $mgray), (lgray $lgray), (blue $blue), (green $green), (yellow $yellow), (red $red), (neutral, $neutral);
    @each $color in $colors{
        .color-#{nth($color, 1)}{
            color: nth($color, 2);
        }     
        .bg-color-#{nth($color, 1)}{
            background-color: nth($color, 2);
        }
        .line-#{nth($color, 1)}{
            border-color: nth($color, 2) !important;
        }
    }
}
@include auto_gen_color_class();


//生成不透明度阶梯类
%visibility {
    visibility: visible;
};
@mixin auto_gen_opacity_class {
    .alpha-0 {
        opacity: 0;
        visibility: hidden;
    }
    @for $i from 1 to 10{
        .alpha-d#{$i} {
            opacity: $i / 10;
            @extend %visibility;
        }
    }
    .alpha-1 {
        opacity: 1;
        @extend %visibility;
    }
}
@include auto_gen_opacity_class();