.bg-fixed {
    background-attachment: fixed;
}
.bg-repeat {
    background-repeat: repeat;
}
.bg-repeat-x {
    background-repeat: repeat-x;
}
.bg-repeat-y {
    background-repeat: repeat-y;
}


.bg-size-cover {
    background-size: cover;
}
.bg-size-contain {
    background-size: contain;
}
.bg-size-max {
    background-size: 100% 100%;
}
.bg-size-max-h {
    background-size: auto 100%;
}
.bg-size-max-w {
    background-size: 100% auto;
}


//九宫格背景图定位
.bg-pos-1 {
    background-position: 0 0;
}
.bg-pos-2 {
    background-position: center 0;
}
.bg-pos-3 {
    background-position: 100% 0;
}
.bg-pos-4 {
    background-position: 0 center;
}
.bg-pos-5 {
    background-position: center;
}
.bg-pos-6 {
    background-position: 100% center;
}
.bg-pos-7 {
    background-position: 0 100%;
}
.bg-pos-8 {
    background-position: center 100%;
}
.bg-pos-9 {
    background-position: 100% 100%;
}


.round {
    border-radius: 50%;                         //50% 圆角
}
.round-lg {                                     //24px 大圆角
    border-radius: 24px;  
}
.round-md {                                     //10px 中等圆角
    border-radius: 10px;  
}
.round-sm {                                     //4px 小型圆角
    border-radius: 4px;  
}


.round-t {                                      //上侧圆角
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.round-b {                                      //下侧圆角
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.round-l {                                      //左侧圆角
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.round-r {                                      //右侧圆角
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.line {                                         //四周实线描边
    border-style: solid;
}
.line-l {                                       //左实线描边
    border-left-style: solid;
}
.line-r {                                       //右实线描边
    border-right-style: solid;
}
.line-t {                                       //上实线描边
    border-top-style: solid;
}
.line-b {                                       //下实线描边
    border-bottom-style: solid;
}
.dashed {                                       //四周虚线描边
    border-style: dashed;
}
.dashed-l {                                     //左虚线描边
    border-left-style: dashed;
}
.dashed-r {                                     //右虚线描边
    border-right-style: dashed;
}
.dashed-t {                                     //上虚线描边
    border-top-style: dashed;
}
.dashed-b {                                     //下虚线描边
    border-bottom-style: dashed;
}
.line-outside {                                 //外侧描边范围
    background-clip: padding-box;
}


//描边粗细
$thicks: 1 2 4 6 8 10;
@each $thick in $thicks {
    .thick-#{$thick} {
        border-width: #{$thick}px;
    }
}


//文字描边
.text-line {
    text-shadow: 
    1px 0 0 rgba(200, 200, 200, .5), 
    -1px 0 0 rgba(200, 200, 200, .5), 
    0 1px 0 rgba(200, 200, 200, .5),
    0 -1px 0 rgba(200, 200, 200, .5);
}


//阴影
.shadow {
    box-shadow: 0 4px 17px;
}
.shadow-sm {
    box-shadow: 0 2px 4px;
}
.shadow-lg {
    box-shadow: 0 14px 40px;
}
.shadow-relief {
    box-shadow: 1px 1px 0 rgba(0,0,0,.7) inset, 1px 1px 0 rgba(255,255,255,.4);
}


//生成三角形
%default-border {
    position: relative;
    border: 4px solid transparent;
    height: 0;
    width: 0;
    display: inline-block;
}
%v-border {
    border-top-width: 3px;
    border-bottom-width: 3px;
}
%h-border {
    border-left-width: 3px;
    border-right-width: 3px;
}
$dirs: (l left), (r right), (t top), (b bottom);
@each $dir in $dirs {
    .triangle-#{nth($dir, 1)} {
        @extend %default-border; 
        border-#{nth($dir, 2)}-color: inherit;
        @if nth($dir, 1) == l{
            @extend %v-border;
            left: 4px; 
        }@else if nth($dir, 1) == r{
            @extend %v-border;
            right: 4px;
        }@else if nth($dir, 1) == t{
            @extend %h-border;
            top: 4px;
        }@else {
            @extend %h-border;
            bottom: 4px;
        }
    }
}


//模糊滤镜
.blur-no { filter: blur(0px) }
.blur-sm { filter: blur(2px) }
.blur-md { filter: blur(7px) }
.blur-lg { filter: blur(17px) }

//明度滤镜
.dark-no { filter: brightness(100%) }
.dark-sm { filter: brightness(80%) }
.dark-md { filter: brightness(50%) }
.dark-lg { filter: brightness(20%) }

//纯度滤镜
.gray-no { filter: grayscale(0%) }
.gray-sm { filter: grayscale(40%) }
.gray-md { filter: grayscale(70%) }
.gray-lg { filter: grayscale(100%) }