@import "./scroll.scss";  
@import "./flex.scss";

.box-normal {                           //标准盒模型
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fixed {                                //fixed 定位
    position: fixed;
}
 
.rel {                                  //相对定位
    position: relative;
}

.abs {                                  //绝对定位
    position: absolute;
}

.container {                            //版心
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;

    &[md], .container-md {
        max-width: 960px; 
    }
    &[sm], .container-sm {
        max-width: 736px;
    }
}

.max{                                   //满屏
    width: 100%;
    height: 100%;
}

.max-screen{                            //满屏
    @extend .fixed;
    @extend .max;
    @extend .no-scroll;
    left: 0;
    top: 0;
}

.item{                                  //多列布局元素
    break-inside: avoid;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}


//生成 z 轴层级
@mixin auto_gen_z_index(){ 
    .z-1 {
        z-index: -1;
    }
    @for $i from 0 to 11{
        .z#{$i} {
            z-index: $i;
        }
    }
}
@include auto_gen_z_index();


//生成旋转
@mixin auto_gen_rotate_class($suffix:""){
    $degs: 0, 15, 30, 45, 90, 180, 360;
    @each $deg in $degs{
        .rotate-#{$deg}#{$suffix} {
            transform: rotate(#{$deg}deg);
        }
    }
}
@include auto_gen_rotate_class();


//变形中心点
.origin-1 {
    transform-origin: left top;
}
.origin-2 {
    transform-origin: center top;
}
.origin-3 {
    transform-origin: right top;
}
.origin-4 {
    transform-origin: left center;
}
.origin-5 {
    transform-origin: center center;
}
.origin-6 {
    transform-origin: right center;
}
.origin-7 {
    transform-origin: left bottom;
}
.origin-8 {
    transform-origin: center bottom;
}
.origin-9 {
    transform-origin: right bottom;
}