table{
    width: 100%;
    border-spacing: 0;
}

.table {
    background-color: #fff;
    
    //常规尺寸
    th{
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-size: 1.2rem;
        color: #222;
    }
    &:not([border]) tbody{
        tr{
            &:nth-child(even){
                background-color: #f7f7f7;
            }
            &:last-child td{
                border-bottom: 1px solid #eee;
            }
        }
    }

    td, th{
        padding: .5rem 1rem;
    }
    td {
        color: #555;
        font-size: 1.1rem;
    }

    //宽松尺寸
    &[easy]{
        td, th{
            padding: .7rem 1rem;    
        }
        th{
            font-size: 1.3rem;
        }
        td{
            font-size: 1.2rem;
        }
    }

    //紧凑尺寸
    &[compact]{
        td, th{
            padding: .2rem 1rem;
        }
        th{
            font-size: 1.1rem;
        }
        td{
            font-size: 1rem;
        }
    }

    //线框样式
    &[border]{
        border-collapse: collapse;
        border-color: inherit;

        th {
            background-color: #f7f7f7;
        }
    }

    //暗色样式
    &[dark]{
        background-color: #333;

        th{
            border-bottom: 1px solid #111;
            background-color: #222;
            color: #eee;
        }
        tbody{
            tr{
                &:nth-child(even){
                    background-color: #444;
                }
                &:last-child td{
                    border-bottom: 1px solid #eee;
                }
            }
        }
        td {
            color: #999;
        }
        &[border]{
            border-color: #111;
        }
    }

    //响应式（内容不自动换行，溢出时出现横向滚动条）
    &[response]{
        white-space: nowrap;
    }

}